@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Topic", new { filter = "none" })
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("Thread")
    </div>
    <div class="col-md-6">
        @await Component.InvokeAsync("Comment")
    </div>
</div>
